body{
	padding: 0;
	margin: 0;
	line-height: 150%;
	background-image: url("../images/cork-wallet.png");
	font-family: "gerorgia","Times New Roman", Times, serif;
	font-size:18px;

}

/*Header*/
header {
	        color: #ffffff;
    background-color: #ffffff;
    margin: -4% 0% 0% 12px;
    font-size: 250%;
    width: 27%;
    padding-right: 80%;



}


h1 {     padding: 20px 0px 20px 0px;
    margin: 27%;
    width: 292px;
    font-size: 84%;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border: 2px solid #dddddd;
	
}

h2 {
	color: #4aaaa5;
	font-size: 250%;
	margin: 0% 0% 1% 2%;
    padding: 1%;
    
}

#h2border {
	border-bottom: 2px solid #cccccc;
	margin-bottom: 5%;
	


}

/*Includes profile picture, hyplinks, paragraph*/
.container {
	width: 64%;	
	height: 392px; 
	margin: -3% 0% 0% 8%;
	color:#000000;
	background-color:#ffffff; 
	border: 2px solid ##dddddd;
	padding: 9px;
	padding-bottom: 21px;
	

	
}


#contact_form {
	color: #777777;
	margin-top:-4px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

#name{
	width:607px;
	height:20px;
	
}

#email{
	width:607px;
	height:20px;
	
}

#message{
	width:607px;
	height:110px;
}

#submit_button{
    color: #ffffff;
    background: #4aaaa5;
    width: 100px;
    height: 38px;
    font-size: 17px;
}


#contact-info {
	    width: 24%;
    height: 32px;
    margin: -52% 0%;
    float: right;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    color: #777777;
    font-size: .9em;

}


#contact{ 
	float:right;
	margin-right: 5px;

}


#portfolio{ 
	float:right;
	margin-right: 20px;

}


#about{ 
	float:right;
	margin-right: 20px;


}


#CWM {
	width: 22%;
    height: 181px;
    background-color: #ffffff;
    float: right;
    margin: -44% -1% 0% 0%;
    padding: 0%;
    border: 2px solid #dddddd;


}

h3 {   
	    color: #4aaaa5;
    font-size: 25px;
    padding-left: 8%;
    padding-bottom: 11%;
    margin-top: 15px;
    margin-bottom: -14px;

}
#h3border {
	    border-bottom: 2px solid #cccccc;
    margin-top: -8px;
	
}

#social-links {
	width:201px;
	padding: 3px;
	margin-top:19px;
}

#github {
	width: 65px;
	float:right;
	margin-right:-2px;


}

#linkedin {
	width: 65px;
	float:right;
	padding-right:1px;

}

#overflow{
	width: 58px;
	margin-top: 4px;
	float:right;
	padding-right:5px;


}

#positioning { clear:both;
	max-width:960px;
	position:fixed;
	margin:-11px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:81px;
   width:100%;
   background:#666666;
	border-top:8px solid #4aaaa5;
}


#footertext {
	font-size: .7em;
	padding-left:45%;
	color:#ffffff;
}